<div class="background-image">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h4 class="display-6">ክልላዊ የጤና እና ጤና ነክ መረጃ ቅመራ፣ ትንተና እና አስተዳደር ማዕከል ሪፖዚተሪ</h4>
          <h4 class="display-6">Regional Data Management Center for Health (RDMC) Repository</h4>
          <p class="lead">ይህ ማከማቻ በአማራ ክልል ያለ የጤና እና ጤና ነክ መረጃዎችን እንድታገኙ ያስችልዎታል።</p>
          <p class="lead">This repository enables you to access health and health related data in Amhara Region.</p>
        </div>
      </div>
      <!--ul>
        <li>easily ingest documents, audio, video, datasets and their corresponding Dublin Core
          metadata
        </li>
        <li>open up this content to local and global audiences, thanks to the OAI-PMH interface and
          Google Scholar optimizations
        </li>
        <li>issue permanent urls and trustworthy identifiers, including optional integrations with
          handle.net and DataCite DOI
        </li>
      </ul>
      <p>Join an international community of <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning" target="_blank">leading institutions using DSpace</a>.</p>
      <p>The test user accounts below have their password set to the name of this
        software in lowercase.</p>
      <ul>
        <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
        <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
        <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
        <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
      </ul-->
    </div>
  </div>
</div>
